html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #4fccfc;
}

h1 {
    padding: 30px 0px 0px 15px;
    font-size: 5rem;
}

h3 {
    font-size: 2.5rem;
    margin: auto auto;
}

h4 {
    margin: auto auto;
    font-size: 2rem;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #A9A9A9;
    text-align: center;
    width: 100px;
    margin: auto auto;
}

label {
    display: inline-block;
    width: 200px;
    font-size: 2rem;
    padding-right: 10px;
}

button {
    margin-left: 40px;
    margin-top: 50px;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    background-color: #D2691E;
    border: 1px solid #00008B;
    cursor: pointer;
    font-size: 1.8rem;
    color: #fFFFFF;
}

.initial-values {
    padding-top: 25px;
    padding-left: 30px;
}

.initial-values div {
    padding-top: 10px;
}

.table {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100%-60px)
}

.table div {
    display: inherit;
    width: 100%;
    padding-top: 10px;
    flex-direction: row;
}

/* #first-method div {
    width: 200px;
    flex-direction: column;
} */

.table div div:first-child {
    flex-basis: 220px;
}

.cell {
    flex-basis: 200px;
}